<sw-template>
	<div>
		<style>
			@media (max-width: 500px) {
				.brfskagagard-member-option {
					float: left;
				}
			}
		</style>
<div data-staticweb-component="brfskagagard-member" class="brfskagagard-member-options" style="margin-bottom:50px">
<ul class="grid sw-editable" id="contentArea">
	<li class="grid-item width-1of3 width-mobile-1of1" style="text-align:center">
<div class="brfskagagard-member-option">
	<img src="http://placehold.it/150x150">
</div>
<ul class="content-menu">
	<li><b>Information &amp; Dokument</b></li>
	<li class="flowertwig-mypages-options-info-building">Byggnad ?</li>
	<li class="flowertwig-mypages-options-info-apartment">Lgh. ?</li>
	<li><span class="flowertwig-mypages-options-info-size">?</span> m&#178;</li>
	<li class="flowertwig-mypages-options-info-tenents">? st</li>
</ul>
</li>
<li class="grid-item width-1of3 width-mobile-1of1" style="text-align:center">
<div class="brfskagagard-member-option">
	<img src="http://placehold.it/150x150">
</div>
<ul class="content-menu">
	<li><b>Meddelanden</b></li>
	<li>via: <span class="flowertwig-mypages-options-info-delivery">?</span></li>
</ul>
</li>
<li class="grid-item width-1of3 width-mobile-1of1" style="text-align:center">
<div class="brfskagagard-member-option">
	<img src="http://placehold.it/150x150">
</div>
<ul class="content-menu">
	<li><b>Inviduell mätning</b></li>
	<li>
		<a href="/medlem/matning/">Föregående månad
	</li>
                        </ul>
                    </li>
                </ul>

            </div>
            </div>
</sw-template>