<sw-template>
	<div>
		<style>
			.notifications {
				position: fixed;
				bottom: 0;
				z-index: 100;
				left: 0;
				right: 0;
			}
			.notification {
				position: relative;
				border-top: solid 1px gray;
			}
			.notification-critical {
				background-color: red;
			}
			.notification-warning {
				background-color: orange;
			}
			.notification-information {
				background-color: floralwhite;
			}
			.notification-content {
				padding: 10px;
			    padding-right: 30px;
			}
			.notification-content a {
				color: #000;
				text-decoration: none;
			}
			.notification-content a:hover {
				text-decoration: underline;
			}
			.notification-close {
				position: absolute;
				right: 5px;
				top: 5px;
				border: solid 1px #000;
    			background-color: white;
				background-color: whitesmoke;
			    border-radius: 50%;
			}
			.notification-close:hover {
				cursor: pointer;
    			background-color: lightgrey;
			}
			@media (max-width: 500px) {
				.notification-close {
					padding: 5px 10px;
					font-size: 1em;
				}
				.notification-content {
				    padding-right: 40px;
				}
			}
		</style>
		<notifications>
			<div class="notifications">
			</div>
		</notifications>
		<information>
			<div class="notification notification-information">
				<button class="notification-close">x</button>
				<div class="notification-content">
					<a href="#">Informations meddelanden.</a>
				</div>
			</div>
		</information>
		<warning>
			<div class="notification notification-warning">
				<button class="notification-close">x</button>
				<div class="notification-content">
					<a href="#">Varnings meddelanden.</a>
				</div>
			</div>
		</warning>
		<critical>
			<div class="notification notification-critical">
				<button class="notification-close">x</button>
				<div class="notification-content">
					<a href="#">Kritiskt meddelanden.</a>
				</div>
			</div>
		</critical>
	</div>
</sw-template>