<sw-template>
  <div>
    <h1>Mina sidor</h1>
    <p>
      Här kan du hitta generell information för dig som medlem men även personlig information för just dig om du loggar in genom
      länken nedan. Dina inloggningsuppgifter sitter p&#229; insidan av dörren i proppsk&#229;pet i din lägenhet.
    </p>
    <p>
      <a id="staticweb-login-link" class="sw-login" href="https://oauthservice.azurewebsites.net/?appName=beta&destCode=medlem"
        title="Logga in med github">
        <span class="">Logga in</span>
      </a>
    </p>
  </div>
</sw-template>